/* Стиль для кнопки */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Стиль для картинок */
img {
    border: 3px solid #ddd;
    border-radius: 15px;
}
/* Гарантируем, что футер будет внизу страницы */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    position: relative;
    margin-top: auto;
}
